*{
margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:62.5%;
}

a {
  color: #00B7FF;
}
html,body{
  
  height: 100%;
  width: 100%;
}
.title{
  font-size: 5vw; 
  text-align: center;
}

.generateText,.key{
  margin: 1vw;
  color: black;
  height: 4vh;
  width: 7vh;
  position: relative;
  display: inline-block;
  font-size: 1vw;

}
.button_active{
  height: 2.2rem;
  width: 4.2rem;
}
.container{
  display: grid;
  height: 84%;
  grid-template-rows: 4fr 1fr 1fr;
  grid-template-areas: 
  "Sentence"
  "Typed"
  "Button";
  width: 100vw;

}

.letters-container{
  width: 50%;
  text-align: center;
  margin: auto;
}
.sentence-container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-area: "Sentence";

}
.generatedWord{
  font-size: 34px;
  text-align: center;
  /* line-height: 29rem; */
  height: 0px;
  position: relative;
  /* position: absolute; */
  left: 0px;
  bottom: -169px;

}

.paragraph-data{

}
.typing-container{
  grid-area: "Typed";
  font-size:1em;
  text-align: center;

}

.container-generate-text{
  grid-area: "Button";
}

.paragraph-data{
  font-size: 43px;
  text-align: center;
}

.key{
  box-shadow: inset 0px 1px 20px 2px rgb(246 246 249);
  /* border: solid 1px; */
  border-radius: 10px;
  font-size: 1.8vh;
}
.errorCharacter{
  text-decoration: underline;
  text-decoration-color: red;
  color: red;
}
.timerContainer{
  position: absolute;
  z-index: -1;
  right: 10px;
}
.user-text{
  position: relative;
  left: 0;
  top: 6rem;

}