*{
margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a {
  color: #00B7FF;
}
html,body{
  
  height: 100%;
  width: 100%;
}


button{
  margin: 15px;
  color: red;
}

.container{
  display: flex;
  height: 80%;
  flex-direction: column
}

.sentence-container,.letters-container{
  height: 50%;
}